$baseTransitionTime:	0.5s;
$red: 					#d96a71;
$red2: 					adjust-color($red, 10%);
$white:					#fff;

.stage {
	color: $white;
	font-family: 'Bangers';
	height: 100vh;
	overflow: hidden;
	position: relative;
	
	&::before,
	&::after {
		content: '';
		background-color: $red;
		height: 100vh;
		position: absolute;
		top: 0;
		width: 50%;
		z-index: -1;
	}

	&::after {
		background-color: $red2;
		left: 50%;
	}
}

.header {
	left: 50%;
	position: absolute;
  text-align: center;
  top: 70px;
  transform: translate(-50%, 0);
  transition: transform $baseTransitionTime ease-out, opacity $baseTransitionTime ease-out;
}

.healthbar {
	display: flex;
	flex: 1;
}

.healthbar__santa,
.healthbar__krampus {
	display: flex;
	flex: 1;
	padding: 30px;
}

.healthbar__krampus h3 {
	order: 2;
}

.healthbar__santa-meter,
.healthbar__krampus-meter {
	flex: 1;
	margin: 20px;
}


