$baseTransitionTime:	0.5s;
$red: 					#d96a71;
$red2: 					adjust-color($red, 10%);
$white:					#fff;
$dark:					#333;

.stage {
	color: $white;
	font-family: 'Bangers';
	height: 100vh;
	overflow: hidden;
	position: relative;
	
	&::before,
	&::after {
		content: '';
		background-color: $red;
		height: 100vh;
		position: absolute;
		top: 0;
		width: 50%;
		z-index: -1;
	}

	&::after {
		background-color: $red2;
		left: 50%;
	}
}

.header {
	left: 50%;
	position: absolute;
  text-align: center;
  top: 100px;
  transform: translate(-50%, 0);
  transition: transform $baseTransitionTime ease-out, opacity $baseTransitionTime ease-out;
}

.healthbar {
	display: flex;
	flex: 1;
}

.healthbar__santa,
.healthbar__krampus {
	display: flex;
	flex: 1;
	padding: 30px;
}

.healthbar__krampus h3 {
	order: 2;
}

.healthbar__santa-meter,
.healthbar__krampus-meter {
	flex: 1;
	margin: 20px;
}

.result {
	align-items: center;
	background-color: $red2;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transform: scale(0);
	transition: transform $baseTransitionTime ease-out, opacity $baseTransitionTime ease-out;
	visibility: hidden;

	.fight-over & {
		opacity: 1;
		transform: scale(1);
		visibility: visible;
	}
}

.result__title {
	font-size: 15vw;
}

.fighters {
	display: flex;
	height: 75vh;
}

.santa-body,
.krampus-body {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// Santa body parts (common)
.santa-body__lu-arm,
.santa-body__lf-arm,
.santa-body__ru-arm,
.santa-body__rf-arm,
.krampus-body__lu-arm,
.krampus-body__lf-arm,
.krampus-body__ru-arm,
.krampus-body__rf-arm {
	//position: absolute;
	background-color: $dark;
	width: 30px;
	height: 30px;
}

.santa-body__head,
.krampus-body__head {
	background-color: $white;
	width: 10%;
	height: 12%;
}

.santa-body__torso,
.krampus-body__torso {
	background-color: $white;
	width: 40%;
	height: 40%;
}

.instructions__santa,
.instructions__krampus {
	bottom: 20px;
	left: 20px;
	padding: 20px;
	position: absolute;
}

.instructions__krampus {
	left: auto;
	padding: 20px;
	position: absolute;
	right: 20px;
}

.instructions__krampus p {
	text-align: right;
}

.santa-key-a,
.santa-key-s,
.krampus-key-k,
.krampus-key-l {
	border: 2px solid $white;
	display: inline-block;
	font-size: 25px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 25px;
}
