$baseTransitionTime:	0.5s;
$red: 					#d96a71;
$red2: 					adjust-color($red, 10%);
$white:					#fff;
$dark:					#333;
$armBend: 			60deg;

.stage {
	color: $white;
	font-family: 'Bangers';
	height: 100vh;
	overflow: hidden;
	position: relative;
	
	&::before,
	&::after {
		content: '';
		background-color: $red;
		height: 100vh;
		position: absolute;
		top: 0;
		width: 50%;
		z-index: -1;
	}

	&::after {
		background-color: $red2;
		left: 50%;
	}
}

.header {
	left: 50%;
	position: absolute;
  text-align: center;
  top: 100px;
  transform: translate(-50%, 0);
  transition: transform $baseTransitionTime ease-out, opacity $baseTransitionTime ease-out;
}

.healthbar {
	display: flex;
	flex: 1;
}

.healthbar__santa,
.healthbar__krampus {
	display: flex;
	flex: 1;
	padding: 30px;
}

.healthbar__krampus h3 {
	order: 2;
}

.healthbar__santa-meter,
.healthbar__krampus-meter {
	flex: 1;
	margin: 20px;
}

.result {
	align-items: center;
	background-color: rgba(0,0,0,0.2);
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transform: scale(0);
	transition: transform $baseTransitionTime ease-out, opacity $baseTransitionTime ease-out;
	visibility: hidden;
	z-index: 5;

	.fight-over & {
		opacity: 1;
		transform: scale(1);
		visibility: visible;
	}
}

.result__title {
	font-size: 15vw;
}

.fighters {
	display: flex;
	height: 75vh;
	margin: 0 auto;
	max-width: 910px;
	position: relative;
}

.santa-body,
.krampus-body {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	position: relative;
	z-index: 2;
}

.santa-body {
	margin-left: 10%;
}

.krampus-body {
	margin-right: 10%;
}

// Arm parts (common)
.santa-l-arm,
.santa-r-arm,
.krampus-l-arm,
.krampus-r-arm {
	height: 50px;
	position: relative;
	top: 25%;
	width: 80%;
}

.santa-l-arm,
.santa-r-arm,
.krampus-l-arm,
.krampus-r-arm {
	position: absolute;
}

.santa-r-arm,
.krampus-l-arm {
	left: 50%;
	z-index: 2;
}

.krampus-l-arm,
.krampus-r-arm {
	left: auto;
	right: 50%;
}

.santa-l-arm {
	left: 70%;
}

.krampus-r-arm {
	right: 70%;
}

// Arm joints
.santa-l-arm__upper,
.santa-l-arm__lower,
.santa-r-arm__upper,
.santa-r-arm__lower,
.krampus-l-arm__upper,
.krampus-l-arm__lower,
.krampus-r-arm__upper,
.krampus-r-arm__lower {
	height: 50%;
	position: absolute;
	width: 90%;
}

.krampus-l-arm__upper,
.krampus-l-arm__lower,
.krampus-r-arm__upper,
.krampus-r-arm__lower {
	background-color: orange;
}

.krampus-l-arm__upper,
.krampus-r-arm__upper {
	transform: translate(-16%, 123%) rotate($armBend);
}

.krampus-l-arm__lower,
.krampus-r-arm__lower {
	transform: translate(28%, 140%) rotate(-$armBend);
}

.santa-l-arm__lower,
.santa-r-arm__lower {
	transform: translate(0%, 123%) rotate(-$armBend);
}

.santa-l-arm__upper,
.santa-r-arm__upper {
	transform: translate(-20%, 123%) rotate($armBend);
}

.santa-body__head,
.krampus-body__head {
	height: 10%;
	position: relative;
	top: -20%;
	width: 50%;
	z-index: 10;
}

.santa-body__torso,
.krampus-body__torso {
	height: 50%;
	position: relative;
	width: 70%;
}

.santa-body__torso__inner,
.krampus-body__torso__inner {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
}

// =====================
// LEGS & FEET

.santa-legs {
	bottom: 25%;
	height: 25%;
	left: 25%;
	position: absolute;
	transform: translate(-30%, 100%);
	width: 25%;
	z-index: -1;
}

.krampus-legs {
	bottom: 16%;
	height: 25%;
	position: absolute;
	right: 10%;
	transform: translate(-30%, 100%);
	width: 25%;
	z-index: 1;
}

.santa-legs__l-upper,
.santa-legs__l-lower,
.santa-legs__r-upper,
.santa-legs__r-lower,
.krampus-legs__l-upper,
.krampus-legs__l-lower,
.krampus-legs__r-upper,
.krampus-legs__r-lower {
	height: 50%;
	left: 30%;
	position: absolute;
	width: 40%;
}

.santa-legs__l-upper,
.krampus-legs__l-upper,
.santa-legs__r-upper,
.krampus-legs__r-upper  {
	transform: rotate(-30deg);
}

.santa-legs__r-upper,
.santa-legs__r-lower {
	z-index: 5;
}

.santa-legs__l-foot,
.santa-legs__r-foot {
	bottom: -10%;
	height: 20%;
	left: 29%;
	position: absolute;
	width: 44%;
	z-index: 5;
}

.santa-legs__l-foot {
	left: 52%;
}

.santa-legs__l-lower,
.krampus-legs__l-lower,
.santa-legs__r-lower,
.krampus-legs__r-lower {
	transform: rotate(30deg);
	top: 20%;
}

.santa-legs__l-upper,
.santa-legs__l-lower,
.krampus-legs__r-upper,
.krampus-legs__r-lower {
	left: 55%;
}

.instructions__santa,
.instructions__krampus {
	bottom: 20px;
	left: 20px;
	padding: 20px;
	position: absolute;
}

.instructions__krampus {
	left: auto;
	padding: 20px;
	position: absolute;
	right: 20px;
}

.instructions__krampus p {
	text-align: right;
}

.santa-key-a,
.santa-key-s,
.krampus-key-k,
.krampus-key-l {
	border: 2px solid $white;
	display: inline-block;
	font-size: 25px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 25px;
}
